:root {
  --bg-dark: hsl(284, 3%, 12%);
  --light-text: hsl(0, 0%, 82.7%);
  --light-purple: hsl(300, 95%, 20.1%);
}

#root {
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--light-text);
}

.App {
  min-height: 100vh;
}

