:root {
  --bg-dark: hsl(284, 3%, 14%)
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dark);
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px  auto;
}

.searchBar {
  width: 100vw;
  max-width: 50rem;
  align-self: center;
  justify-self: center;
}
.searchBar>* {
  width: inherit;
  max-width: inherit;
}
