

/* Top section of header that includes search bar */

.header {
  display: flex;
  flex-direction: column;
  color: lightgrey;
  padding: 1rem;
}
h1 {
  font-size: 40px;
}

.upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap 
}
.upper > * {
  margin: 0 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;  
} 

.nav > * {
  margin: 10px;
  color: lightgrey;
}

.searchBar {
  flex: 1 1 auto;
  max-width: 60rem;
  align-self: center;
  justify-self: center;
}
.searchBar>* {
  width: 100%;
}
